/* Desktop - 3 */
position: relative;
width: 1440px;
height: 1024px;
background: linear-gradient(180deg, #F2EDED 0%, 844545 100%);
/* Rectangle 8 */
position: absolute;
width: 136px;
height: 117px;
left: 43px;
top: 30px;
background: 5069C1;
border-radius: 16px;
/* GradeInsight Elevate Education with Smart Data Management and Personalized Communication */
position: absolute;
width: 789px;
height: 50px;
left: 209px;
top: 13px;
font-family: 'Inknut Antiqua';
font-style: normal;
font-weight: 800;
font-size: 34px;
line-height: 88px;
letter-spacing: 0.1em;
color: 000000;
/* Union */
position: absolute;
width: 81px;
height: 100.6px;
left: 70px;
top: 38px;
background: 000000;
/*  icon "book" */
position: absolute;
width: 81px;
height: 100.6px;
left: 70px;
top: 38px;
/* Vector */
position: absolute;
left: 4.86%;
right: 89.51%;
top: 3.71%;
bottom: 86.46%;
background: 000000;
/*  icon "bar chart" */
position: absolute;
width: 71.87px;
height: 70.16px;
left: 75.13px;
top: 43.38px;
/* Vector */
position: absolute;
left: 5.22%;
right: 89.79%;
top: 4.24%;
bottom: 88.91%;
background: 000000;
/* Rectangle 21 */
position: absolute;
width: 386px;
height: 88px;
left: 61px;
top: 456px;
background: 7090B6;
border-radius: 10px;
/*  icon "folder create" */
position: absolute;
width: 202.4px;
height: 184px;
left: 108px;
top: 242px;
/* Vector */
position: absolute;
left: 7.5%;
right: 78.44%;
top: 23.63%;
bottom: 58.4%;
background: 000000;
/* Add Course */
position: absolute;
width: 231px;
height: 42px;
left: 138px;
top: 479px;
font-family: 'Inika';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 42px;
/* identical to box height */
letter-spacing: 0.1em;
color: 000000;
border: 1px solid 000000;
/* Rectangle 23 */
position: absolute;
width: 386px;
height: 88px;
left: 61px;
top: 456px;
background: 7090B6;
border-radius: 10px;
/*  icon "folder create" */
position: absolute;
width: 202.4px;
height: 184px;
left: 108px;
top: 242px;
/* Vector */
position: absolute;
left: 7.5%;
right: 78.44%;
top: 23.63%;
bottom: 58.4%;
background: 000000;
/* Add Course */
position: absolute;
width: 231px;
height: 42px;
left: 138px;
top: 479px;
font-family: 'Inika';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 42px;
/* identical to box height */
letter-spacing: 0.1em;
color: 000000;
border: 1px solid 000000;
/* Rectangle 24 */
position: absolute;
width: 386px;
height: 88px;
left: 61px;
top: 456px;
background: 7090B6;
border-radius: 10px;
/*  icon "folder create" */
position: absolute;
width: 202.4px;
height: 184px;
left: 108px;
top: 242px;
/* Vector */
position: absolute;
left: 7.5%;
right: 78.44%;
top: 23.63%;
bottom: 58.4%;
background: 000000;
/* Add Course */
position: absolute;
width: 231px;
height: 42px;
left: 138px;
top: 479px;
font-family: 'Inika';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 42px;
/* identical to box height */
letter-spacing: 0.1em;
color: 000000;
border: 1px solid 000000;
/* Rectangle 25 */
position: absolute;
width: 386px;
height: 88px;
left: 61px;
top: 456px;
background: 7090B6;
border-radius: 10px;
/*  icon "folder create" */
position: absolute;
width: 202.4px;
height: 184px;
left: 108px;
top: 242px;
/* Vector */
position: absolute;
left: 7.5%;
right: 78.44%;
top: 23.63%;
bottom: 58.4%;
background: 000000;
/* Add Course */
position: absolute;
width: 231px;
height: 42px;
left: 138px;
top: 479px;
font-family: 'Inika';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 42px;
/* identical to box height */
letter-spacing: 0.1em;
color: 000000;
border: 1px solid 000000;
