/* Desktop - 2 */
position: relative;
visibility: hidden;
width: 1440px;
height: 1024px;
background: FFFFFF;
/* Rectangle 8 */
position: absolute;
width: 136px;
height: 117px;
left: 43px;
top: 30px;
background: 5069C1;
border-radius: 16px;
/* GradeInsight Elevate Education with Smart Data Management and Personalized Communication */
position: absolute;
width: 789px;
height: 50px;
left: 209px;
top: 13px;
font-family: 'Inknut Antiqua';
font-style: normal;
font-weight: 800;
font-size: 34px;
line-height: 88px;
letter-spacing: 0.1em;
color: 000000;
/* Sign in */
position: absolute;
width: 196px;
height: 47px;
left: 1075px;
top: 753px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 15px;
color: FFFFFF;
/* Rectangle 9 */
position: absolute;
width: 592px;
height: 77px;
left: 236px;
top: 367px;
background: 7090B6;
border-radius: 7px;
/* Rectangle 11 */
position: absolute;
width: 592px;
height: 77px;
left: 236px;
top: 613px;
background: 7090B6;
border-radius: 7px;
/* Rectangle 8 */
position: absolute;
width: 592px;
height: 77px;
left: 236px;
top: 490px;
background: 7090B6;
border-radius: 7px;
/* UserName */
position: absolute;
width: 367px;
height: 65px;
left: 265px;
top: 383px;
font-family: 'Inika';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 34px;
letter-spacing: 0.095em;
color: 000000;
/* Email Address */
position: absolute;
width: 330px;
height: 58px;
left: 265px;
top: 509px;
font-family: 'Inika';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 34px;
letter-spacing: 0.095em;
color: 000000;
/* Password */
position: absolute;
width: 332px;
height: 56px;
left: 265px;
top: 633px;
font-family: 'Inika';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 34px;
letter-spacing: 0.095em;
color: 000000;
/* Union */
position: absolute;
width: 81px;
height: 100.6px;
left: 70px;
top: 38px;
background: 000000;
/* 🦆 icon "book" */
position: absolute;
width: 81px;
height: 100.6px;
left: 70px;
top: 38px;
/* Vector */
position: absolute;
left: 4.86%;
right: 89.51%;
top: 3.71%;
bottom: 86.46%;
background: 000000;
/* 🦆 icon "bar chart" */
position: absolute;
width: 71.87px;
height: 70.16px;
left: 75.13px;
top: 43.38px;
/* Vector */
position: absolute;
left: 5.22%;
right: 89.79%;
top: 4.24%;
bottom: 88.91%;
background: 000000;
/* Rectangle 18 */
position: absolute;
width: 442px;
height: 1024px;
left: 998px;
top: 0px;
background: linear-gradient(180deg, 430404 0%, rgba(173, 101, 101, 0.74) 100%);
/* Polygon 3 */
position: absolute;
width: 487px;
height: 370px;
left: 923px;
top: 4px;
background: linear-gradient(180deg, #CD5D5D 0%, rgba(225, 164, 108, 0) 100%);
mix-blend-mode: color;
border-radius: 10px;
/* Rectangle 19 */
position: absolute;
width: 332px;
height: 107px;
left: 979px;
top: 917px;
background: 66180B;
mix-blend-mode: screen;
border-radius: 30px;
/* Subtract */
position: absolute;
width: 310px;
height: 518px;
left: 1145px;
top: 526px;
background: AD6565;
/* Ellipse 2 */
position: absolute;
width: 708.29px;
height: 522.02px;
left: 1145px;
top: 523.99px;
background: D9D9D9;
/* Rectangle 13 */
position: absolute;
width: 398.29px;
height: 710.98px;
left: 1455px;
top: 383.97px;
background: D9D9D9;
/* Ellipse 3 */
position: absolute;
width: 390px;
height: 371px;
left: 1125px;
top: 257px;
background: 621A0D;
mix-blend-mode: exclusion;
filter: blur(2px);
/* Rectangle 20 */
position: absolute;
width: 400px;
height: 77px;
left: 1026px;
top: 717px;
background: 7090B6;
border-radius: 7px;
/* Sign In */
position: absolute;
width: 206px;
height: 51px;
left: 1145px;
top: 734px;
font-family: 'Inika';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 42px;
letter-spacing: 0.1em;
color: 000000;
border: 1px solid 000000;
/* Sign In */
position: absolute;
width: 206px;
height: 51px;
left: 1145px;
top: 734px;
font-family: 'Inika';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 42px;
letter-spacing: 0.1em;
color: 000000;
border: 1px solid 000000;
/* WELCOME! */
position: absolute;
width: 362px;
height: 109px;
left: 1026px;
top: 325px;
font-family: 'Alfa Slab One';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 55px;
letter-spacing: 0.185em;
color: D9D9D9;
/* Already Hve An Account ? Accont ? */
position: absolute;
width: 400px;
height: 93px;
left: 1026px;
top: 398px;
font-family: 'Inika';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 47px;
letter-spacing: 0.095em;
color: D9D9D9;
/* 🦆 icon "user" */
position: absolute;
width: 125.54px;
height: 125.54px;
left: 436px;
top: 195px;
/* Vector */
position: absolute;
left: 30.28%;
right: 61%;
top: 19.04%;
bottom: 68.7%;
background: 000000;
/* Rectangle 5 */
position: absolute;
width: 400px;
height: 77px;
left: 320px;
top: 785px;
background: 7090B6;
border-radius: 7px;
/* Sign Up */
position: absolute;
width: 136px;
height: 42px;
left: 449px;
top: 800px;
font-family: 'Inika';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 42px;
/* identical to box height */
letter-spacing: 0.1em;
color: 000000;
border: 1px solid 000000;
