* {
    box-sizing: border-box;
  }
  body {
      background-color: white;
      text-align: center;
     /* display:flexbox;
      flex-direction: column;
      justify-content: space-between;
      align-items:flex-start;*/
  
  }
  #div1
  {
    background-color: red;
    float:left;
    width:30%;
    padding: 0;
    margin-bottom:0 auto;
    margin-top: 0 auto;
    margin-left: 0  auto;
    height:40em;
  }
  #abc
{
  margin-left:35% ;
  display:block;
  padding:10px;
}
#abc1
{
  margin-left:35% ;
  border-radius:1px ;
}
#abc2{
  margin-left: 20%;
}
  h1 {
    font-size: 2.2em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    line-height: 1%;
 }
 h2 {
        font-size: 1.6em;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        line-height: 1%;
}
 h3 {
            font-size: 1.1em;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bold;
            line-height: 1.5%;
 }


   /* Desktop PC view */
  
   @media (min-width : 992px ) {
   
    .col-lg-4 {
      width: 33.33%;
      float: left;
      }
  }
  
  /* Tablet PC view */
  @media (min-width: 768px) and (max-width: 991px) {
   
    .col-md-6 {
      width: 50%;
      float: left;
    }
    .col-md-12 {
      width: 100%;
      float: left;
    }
  }
  /* Cell phone view */
  @media (max-width: 767px)  {
    
    .col-sx-12 {
      float: left;
      width: 100%;
    }
  }