{% extends "template.html" %}

{% block title %}
    Log In
{% endblock %}

{% block content %}
<div class="login_wrapper">
    <div class="login">
        <div class="img_login">
            <img src="images/🦆 icon _user_loginlogo.png" alt="" class="login_img">
        </div>
        <div class="login_to_acc">Login to your account!</div>
        <div class="username_wrapper">
            <input type="text" class="username" placeholder="USERNAME/EMAIL ID">
        </div>
        <div class="password_wrapper">
            <input type="password" class="password" placeholder="PASSWORD">
            <i class="far fa-eye" id="togglePassword"></i>
        </div>
        <div class="forget_password">
            Forgot password?
        </div>
        <button class="sign_in">SIGN IN</button>
    </div>
</div>

{% endblock %}