*{
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Inknut Antiqua";
    src: url(https://fonts.google.com/?preview.size=23&query=Inknut+Antiqua);
}
.full_body{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100lvh;
}
.left_coloumn{
    
    width: 30%;
    background: linear-gradient(180deg, #ED1C24 0%, rgba(183, 32, 46, 0.84) 100%);

}
.right_coloumn{
    width: 100%;
}

.logo{
    height: 87.78%;
    width: 60%;
}
.logout{
    height: 7.5%;
    width: 100%;
    padding-top:5%;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
    float:right;
}
.logo_img{
    width: 5rem;
    height: 5rem;
    border-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
    background: rgba(80, 105, 193, 1);
    

}

.logo_wrapper{
    width: 100%;
    padding-top: 2%;
    display: flex;
    flex-direction: row;
    padding-left:5%;
    justify-content:flex-start;
    align-items: center;
    align-content: center;
    justify-items: center;
}

.name{
    /* font-size: 110%; */
    padding-left: 3%;
    font-family: "Inknut Antiqua";
    display: flex;
    flex-direction: column;
    height: 10vh;
    justify-content: center;
   
}
.gradeinsihgt{
    font-size: 250%;
    font-family: "Inknut Antiqua";
    font-weight: 400;
    /* line-height:150%; */
}


.add_course{
    position: relative;
    top: 5%;
    left: 50%; 
    transform: translate(-50%,-50%);  
    display: flex;
    flex-direction: row;
    padding-top:7%;
    justify-content: space-around;
    padding-left: 2%;
    align-content: center;
    justify-items: center;
    align-items: center;
}
button{
        border-radius:10% ;
        font-weight: bold;
        width: 100% ;
        height:30% ;
        background-color:whitesmoke;
        font-size:2em ;
        }
/* Tablet PC view */
  @media (min-width: 768px) and (max-width: 991px) {
   
    .col-md-6 {
      width: 50%;
      float: left;
    }
    .col-md-12 {
      width: 100%;
      float: left;
    }
  }
  /* Cell phone view */
  @media (max-width: 767px)  {
    
    .col-sx-12 {
      float: left;
      width: 100%;
    }
  }