*{
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Inknut Antiqua";
    src: url(https://fonts.google.com/?preview.size=23&query=Inknut+Antiqua);
}
.full_body{
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 100vh; 
}
.left_coloumn{
    min-height: 100vh;
    width: 30%;
    background: linear-gradient(180deg, #ED1C24 0%, rgba(183, 32, 46, 0.84) 100%);

}
.right_coloumn{
    width: 100%;
    height: 100%;
    position: relative;
}
.header_wrapper{
    width: 100%;
}
.header{
    
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.logo{
    height: 87.78%;
    width: 60%;
}
.header_wrapper{
    width:100%;
    }
  .header{
    display:flex;
    flex-direction:row;
    justify-content:space-evenly ;
    align-content:center;
  }
  .logout{
      height:50%;
      width:70% ;
      padding-top:5%;
      justify-items: center;
      float:right;
      cursor: pointer;
  }
.logo_img{
    width: 5rem;
    height: 5rem;
    border-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
    background: rgba(80, 105, 193, 1);
    

}

.logo_wrapper{
    width: 100%;
    padding-top: 2%;
    display: flex;
    flex-direction: row;
    padding-left:5%;
    justify-content:flex-start;
    align-items: center;
    align-content: center;
    justify-items: center;
}

.name{
    /* font-size: 110%; */
    padding-left: 3%;
    font-family: "Inknut Antiqua";
    display: flex;
    flex-direction: column;
    height: 10vh;
    justify-content: center;
   
}
.gradeinsihgt{
    font-size: max(250%);
    font-family: "Inknut Antiqua";
    font-weight: 400;
    /* line-height:150%; */
}


/* .add_course{
    position: relative;
    top: 5%;
    left: 50%; 
    transform: translate(-50%,-50%);  
    display: flex;
    flex-direction: row;
    padding-top:7%;
    justify-content: space-around;
    padding-left: 2%;
    align-content: center;
    justify-items: center;
    align-items: center;
} */
button{
    border-radius:2rem ;
    font-weight: bold;
    width: 15rem ;
    height: 5rem;
    
    background-color:whitesmoke;
    font-size:1.8em ;
    padding-left: 1%;
    padding-right: 1%;
    box-shadow:2px 2px;
}

.addcoursebutton{
    /* height: 150%; */
    padding-top: 5%;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    justify-items: center;
    align-items: center;
} 
        
.middle{
    position: relative;
    top: 50%;
    left: 50%; 
    transform: translate(-50%,0);  
    display: flex;
    flex-direction: row;
    padding-top:7%;
    justify-content: space-around;
    padding-left: 2%;
    
    font-size: 3em;
    color:darkgray ;
    font-weight:900 ;
}
/* Desktop PC view */
  
@media (min-width : 992px ) {
   
    .col-lg-4 {
      width: 33.33%;
      float: left;
      }
  }
  
  /* Tablet PC view */
  @media (min-width: 768px) and (max-width: 991px) {
   
    .col-md-6 {
      width: 50%;
      float: left;
    }
    .col-md-12 {
      width: 100%;
      float: left;
    }
  }
  /* Cell phone view */
  @media (max-width: 767px)  {
    
    .col-sx-12 {
      float: left;
      width: 100%;
    }
    
  }



.courses{
    width: 100%;
    max-height: fit-content;
    padding: 5%;
    
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 3%; 
    
     
}

.hidden{
    display: none;
}

.course1{
    
    
    height: 12em;
    background-color: blue;
    border-radius: 1em;
    position: relative;
    
}

.dots{
    position: absolute;
    top: 5%;
    right: 1%;
    line-height: 0.5em;
    
}
.dots:hover{
    visibility: visible;
    cursor: pointer;
    
}

.dropdown-content  {
   display: none; 
}
.show-dropdown-content{
    display: block;
    width: 30%;
    height: 5.5em;
    position: absolute;
    top: -10%;
    right: 1%;
    margin-top: 60px;
    background-color: #f9f9f9;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
.dropdown a:hover {
    background-color: #f1f1f1;
}
  
.show {
    display: block;
}
.text_content_wrapper{
    
    height: 7em;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center;
}

.text_content{
    padding-top: 50px;
    word-wrap: break-word;
    display: flex;
    flex-direction: column;
    width: 100%; 
    height: 100%;
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center;
    height: 5em;
    text-decoration: underline;
    font-size: 110%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.course_name_output, .year_outpu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center;
}
.courseclick:hover{
    cursor: pointer;
}


.addcourse_form_wrapper{
    
    display: none;

}
.addcourse_form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center;
    
}
.course_name, .year{
    
    
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center;
    padding-bottom: 5%;
}
input{
    border: 1px solid black;
    height: 3em;
    padding-left: 1em;
    font-family: "Montserrat";
    font-weight: bold;
    text-anchor: middle;
    
    width: 30%;
}
.submit{
    height: 5vh;
    width: 60%;
    cursor: pointer;
    font-size: 1em;
    font-weight: bolder;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-items: center;
    
    align-content: center;
    
}

.show{
    width: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-30%,-50%);
    height: 40vh;
    background-color: rgba(8, 42, 94, 1);

    border-radius: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    justify-items: center;
    align-content: center;
   
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border: 1px solid black;
    
}

.blur{
    filter: blur(2px);
}
.newclass{
    display: block !important;

}
.sample_course{
    display: none;
}

.course_name_input, .year_input{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
}


h3{
    width: 150%;
}

.course_name, .year{
    width: 80%;
}

.trash{
    width: 70%;
    height: 3em;
    background-color: rgba(8, 42, 94, 0.8);
    cursor: pointer;
    border-radius: 1em;
    border: 1px solid black;
    font-size: small;

}

.trash_wrapper{
    position: absolute;
    bottom: 2em;
    width: 100%;
    display: flex;
    /* align-content: center; */
    align-items: center;
    justify-content: center;
    
}