*{
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Inknut Antiqua";
    src: url(https://fonts.google.com/?preview.size=23&query=Inknut+Antiqua);
}
.full_body{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
}
.left_coloumn{
    
    width: 30%;
    background: linear-gradient(180deg, #ED1C24 0%, rgba(183, 32, 46, 0.84) 100%);

}
.right_coloumn{
    width: 100%;
}

.logo{
    height: 87.78%;
    width: 60%;
}
.logo_img{
    width: 5rem;
    height: 5rem;
    border-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
    background: rgba(80, 105, 193, 1);
    

}

.logo_wrapper{
    width: 100%;
    padding-top: 2%;
    display: flex;
    flex-direction: row;
    padding-left:5%;
    justify-content:flex-start;
    align-items: center;
    align-content: center;
    justify-items: center;
}

.name{
   
    padding-left: 3%;
    font-family: "Inknut Antiqua";
    display: flex;
    flex-direction: column;
    height: 10vh;
    justify-content: center;
   
}
.gradeinsihgt{
    font-size: 250%;
    font-family: "Inknut Antiqua";
    font-weight: 400;
    
}

.login_wrapper{
  width: 100%;
  height: 71%;
  position: relative;
  top: 43%;
  left: 50%; 
  transform: translate(-50%,-50%);
  display: flex;
  justify-content: center;
  align-content: center;
  font-family: 'Source Serif 4', serif;
 
}
.login{
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  
}
.img_login{
    padding-top:2%;
    width:60%;
    height:60%;
    display: flex;
    align-content: center;
    justify-content: center;
    justify-items: center;
    align-items: center;

}
.username_wrapper, .password_wrapper{
  width: 90%;
  padding-bottom: 6%;
  display: flex;
  align-content: center;
  justify-content: center;
  justify-items: center;
  align-items: center;
}
.password_wrapper{
  padding-top: 2%;
}
.username, .password{
  background: white;
  height: 8vh;
  border-radius: 7px;
  width: 25rem;
  font-size: large;
}
.login_to_acc{
  font-size: 250%;
  padding-top: 2%;
  padding-bottom: 4%;
  font-family: 'Source Serif 4', serif;
}

.forget_password:hover{
  cursor: pointer;
  text-decoration: underline;
}
.forget_password{
  padding-bottom: 5%;
}
.sign_in{
  width: 70%;
  background: rgb(91, 146, 200);
  height: 8vh;
  border-radius: 7px;
  font-family: 'Source Serif 4', serif;
  cursor: pointer;
  font-size: xx-large;
  margin-bottom:5%;
  
}
::placeholder{
  color: black;
  font-family: 'Source Serif 4', serif;
  font-weight: 700;
  padding-left: 2%;
}
.far{
  position: absolute;
 
  right: 7%;
  cursor: pointer;
  
}
.far:hover{
  color: gray;
}
.password_wrapper{
  position: relative;
}

.form_wrapper{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  justify-items: center;
  margin: 0;
}

/* Desktop PC view */
  
@media (min-width : 992px ) {
   
  .col-lg-4 {
    width: 33.33%;
    float: left;
    }
}

/* Tablet PC view */
@media (min-width: 768px) and (max-width: 991px) {
 
  .col-md-6 {
    width: 50%;
    float: left;
  }
  .col-md-12 {
    width: 100%;
    float: left;
  }
}
/* Cell phone view */
@media (max-width: 767px)  {
  
  .col-sx-12 {
    float: left;
    width: 100%;
  }
  .username_wrapper, .password_wrapper{
    width: 70%;
  }
  .sign_in{
    width: 50%;
  }
  .login_to_acc{
    font-size:180%;
  }
  .name{
    font-size:85%;
  }
  .logo_img{
    width:40%;
    height:90%;
  }
}