<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add course</title>
    <link rel="stylesheet" href="\static\addCourse.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Serif+4:wght@500&display=swap" rel="stylesheet">
    
</head>
<body>
    <div class="full_body" class="col-lg-4 col-md-6 sx-12">
        <div class="left_coloumn">

        </div>
        <div class="right_coloumn"  >
            <div class="header_wrapper">
                <div class="header">
                    <div class="logo_wrapper">
                        <div class="logo_img">
                            <img src="\static\images\Union123.png" alt="" class="logo">
                        </div>
                        <div class="name">
                            <h1 class="gradeinsihgt">GradeInsight</h1>
                            <h2 class="slogan">Elevate Education with Personalized Communication</h2>
                        </div>
                    </div> 
                    <div class="logout_img">
                        <img src="\static\images\image 3234.png" alt="" class="logout">
                    </div>
                     
                </div>
            </div>
            <div class="noCourses_wrapper">
                
            </div>
            
            
            <div class="addcoursebutton">
                <button type="submit" id="addcourse_btn" class="courseclick">Add a course</button>
            </div>
            
            <div class="middle">
                You have not added any course yet !!
            </div> 
            <div class="courses hidden">
                
                    <div class="course1 sample_course">
                        <div class="dots">
                            <li></li>
                            <li></li>
                            <li></li>
                        </div>
                        <div class="text_context_wrapper">
                            <div class="text_content">
                                <h4 class="course_name_output"></h4><br>
                                <h5 class="year_output"></h5>
                            </div>
                        </div>
                        <div class="dropdown">
                            <div id="myDropdown" class="dropdown-content">
                                <a href="#home">RENAME</a>
                                <a href="#about">REMOVE</a>
                            </div>
                        </div> 
                        
                    </div>
                
            </div>
            
            
        </div>
        <div id ="addcourse_form_wrapper" class="addcourse_form_wrapper ">
            <div class="addcourse_form">
                <div class="course_name">
                    <H3 > <input type="text" class="course_name_input" placeholder="COURSE NAME"></H3>
                </div>
                <div class="year">
                    <H3> <input type="text" class="year_input" placeholder="CLASS"></H3>
                </div>
                <div class="submit">
                       <button class="submit">SUBMIT</button>
                </div>
            </div>
        </div>
       
        
    </div>
    <script  src="/static/addCourse.js"></script>
</body>

</html>