<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload</title>
    <link rel="stylesheet" href="/static/upload.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Serif+4:wght@500&display=swap" rel="stylesheet">
</head>
<body>
    <div class="full_body" class="col-lg-4 col-md-6 sx-12">
        <div class="left_coloumn">

        </div>
        <div class="right_coloumn">
            <div class="header_wrapper">
                <div class="header">
                    <div class="logo_wrapper">
                        <div class="logo_img">
                            <img src="/static/images/Union123.png" alt="" class="logo">
                        </div>
                        <div class="name">
                            <h1 class="gradeinsihgt">GradeInsight</h1>
                            <h2 class="slogan">Elevate Education with Personalized Communication</h2>
                        </div>
                    </div>
                     
                    <div class="logout_img">
                        <img src="/static/images/image 3234.png" alt="" class="logout">
                    </div>
                </div>
            </div>
            <div class="placement_wrapper">
              <div class="placement">

                <!-- <form action="/fileupload" class="dropzone"> -->
                    <form action = "/fileupload/{{course_id}}" method = "post" enctype="multipart/form-data">  
                        
                     
                        <div class="broswefile"> 
                            <input id="bf" type="file" name="Browse Files" placeholder="Browse Files"> 
                        </div> 
                   
                    <div class="uploadbutton">
                        <button type="submit" >Upload</button>
                    </div>
                 </form>    
                <!-- </form> -->
              </div>
            </div>
        </div>
       
    </div>
</body>
</html>